pandas
mido
# matplotlib is only required if plotting (or at least that's my intention)
matplotlib
pyyaml
music21
omegaconf
mspell # mspell
sh
/Users/malcolm/google_drive/python/malmus/metricker
h5py
tqdm
